         </body>
</html>

<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Example</strong> by Martijn van Haagen. This project it specific for Experius Trainees
    </p>
  </div>
</footer>