{{> header }}

<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Stock</th>
        <th>Price</th>
    </tr>
    {{# data }}
    <tr>
        <td>{{ name }}</td>
        <td>{{ description }}
        <td>{{ stock }}
        <td>{{ price }}
         <td>
            <a class="button is-primary" href="product-form?id={{ product_id }}">Edit</a>
            <a class="button is-danger" href="delete-product?id={{ product_id }}"">Delete</a>
         </td>
    {{/ data }}
    </tr>
</table>

{{> footer }}