<h2>Login Page</h2>

<form method="POST" action="login-user">
        <p>Username</p> <input type="text" name="username">
        <p>Password</p> <input type="text" name="password">
        <input type="submit" value="Send"><input type="reset" value="Clear">
</form>