<form action="create-user" method="POST">
        <p>Username</p> <input type="text" name="username" required minlength="4" maxlength="12">
        <p>Password</p> <input type="text" name="password" required minlength="6" maxlength="10">
        <input type="submit" value="Send"><input type="reset" value="Clear">
</form>