{{> header }}

<section class="hero is-info is-large">
  <div class="hero-body">
      <p class="title">
        Traineeship Experius - Example Project
      </p>
      <p class="subtitle">
        Step into webdevelopment
      </p>
   </div>
</section>

{{> footer }}